!!! 5
%html

  %head
    %title 
      Deris example
    
  %body{:class => name}
  
    %h1 Deris example
  
    #menu
      =partial :menu
        
    #content
      =partial :content
            
    #subnav
      =partial :subnav
  
