%html

  %head
    %title 
      Documentation
    
  %body
  
    #menu
      =partial :menu
      
    :markdown
          void test()
          {
              return 'some code';
          }
  
    #content
      =partial 'nested.haml'
      
    #subnav
      =partial :subnav
  
