!!! 5
%html

  %head
    %title 
      Deris example
    
  %body{:class => name}
  
    %h1 Deris example
    
    #content_wrapper
    
      #menu
        =partial :menu
          
      #content
        =partial :content
              
      #subnav
        =partial :subnav